footer.footer
  .container
    .footer__iner
      .footer__logo
        a.logo-link(href="#")
          img.logo-img(src="./assets/imgs/Logo.svg", alt="картинка")
      ul.footer__list
        li.footer-item
          a(href="#").footer-link Voice over and Subtitle
        li.footer-item
          a(href="#").footer-link Media Center
        li.footer-item
          a(href="#").footer-link Privacy
        li.footer-item
          a(href="#").footer-link Contact us

      ul.footer__list
        li.footer-item
          a(href="#").footer-link Voice Description
        li.footer-item
          a(href="#").footer-link Investor Relations
        li.footer-item
          a(href="#").footer-link Legal Provisions

      ul.footer__list
        li.footer-item
          a(href="#").footer-link Help Center
        li.footer-item
          a(href="#").footer-link Job Opportunities
        li.footer-item
          a(href="#").footer-link Cookies Preferences

      ul.footer__list
        li.footer-item
          a(href="#").footer-link Gift Cards
        li.footer-item
          a(href="#").footer-link Terms of Use
        li.footer-item
          a(href="#").footer-link Corporate Informations










