section.actors
  .container
    .title__box
      h2.title__bg Popular Actors & Directors
    .actors__iner
      .actors__item
        a.actors__link
          .actors-icon
            img(src="./assets/imgs/actors-1.jpg", alt="картинка").actors-img
          h4.actors-title Samantha Bowen
      .actors__item
        a.actors__link
          .actors-icon
            img(src="./assets/imgs/actors-2.jpg", alt="картинка").actors-img
          h4.actors-title Rhys Birch
      .actors__item
        a.actors__link
          .actors-icon
            img(src="./assets/imgs/actors-3.jpg", alt="картинка").actors-img
          h4.actors-title James Holloway
      .actors__item
        a.actors__link
          .actors-icon
            img(src="./assets/imgs/actors-4.jpg", alt="картинка").actors-img
          h4.actors-title Joshua Walton
      .actors__item
        a.actors__link
          .actors-icon
            img(src="./assets/imgs/actors-5.jpg", alt="картинка").actors-img
          h4.actors-title Patrick Elliott
      .actors__item
        a.actors__link
          .actors-icon
            img(src="./assets/imgs/actors-6.jpg", alt="картинка").actors-img
          h4.actors-title Morgan O'Neill

