//- include ../mixins/item
section.shows
  .container
    .title__box
      h2.title__bg Trending TV Shows
    .shows__iner
      .shows-item
        a(href="#").shows-link
          img(src="./assets/imgs/shows-1.jpg", alt="").shows-img
      .shows-item
        a(href="#").shows-link
          img(src="./assets/imgs/shows-2.jpg", alt="").shows-img
      .shows-item
        a(href="#").shows-link
          img(src="./assets/imgs/shows-3.jpg", alt="").shows-img
      .shows-item
        a(href="#").shows-link
          img(src="./assets/imgs/shows-4.jpg", alt="").shows-img
      .shows-item
        a(href="#").shows-link
          img(src="./assets/imgs/shows-5.jpg", alt="").shows-img
      .shows-item
        a(href="#").shows-link
          img(src="./assets/imgs/shows-6.jpg", alt="").shows-img









