section.section__description
  .container
    .description__iner
      .description__iner-left.description
        h1.description-title Zack Snyder's Justice League
        .description-box__info
          span.info-year 2021
          span.info-age 18+
          span.info-time 4h 2min
          span.info-rating 8.8
        p.description-subtitle Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.
        .description-box__btn
          a.description__btn-left.btn__blue Watch
          a.description__btn-right More information
      .description__iner-right
        img.description__img(src="./assets/imgs/bg.jpg", alt="картинка")