section.genres
  .container
    .title__box
      h2.title__bg Trending TV Shows
    .genres__iner
      .genres__column
        a(href="#").genres-link
          .genres__item.romance
            .genres-icon
              img(src="./assets/imgs/genres-1.svg", alt="картинка").genres-img
            h3.genres-title Romance
      .genres__column
        a(href="#").genres-link
          .genres__item.drama
            .genres-icon
              img(src="./assets/imgs/genres-2.svg", alt="картинка").genres-img
            h3.genres-title Drama
      .genres__column
        a(href="#").genres-link
          .genres__item.historical
            .genres-icon
              img(src="./assets/imgs/genres-3.svg", alt="картинка").genres-img
            h3.genres-title Historical
      .genres__column
        a(href="#").genres-link
          .genres__item.action
            .genres-icon
              img(src="./assets/imgs/genres-4.svg", alt="картинка").genres-img
            h3.genres-title Action
      .genres__column
        a(href="#").genres-link
          .genres__item.sci-fi
            .genres-icon
              img(src="./assets/imgs/genres-5.svg", alt="картинка").genres-img
            h3.genres-title Sci-fi
      .genres__column
        a(href="#").genres-link
          .genres__item.horror
            .genres-icon
              img(src="./assets/imgs/genres-6.svg", alt="картинка").genres-img
            h3.genres-title Horror
      .genres__column
        a(href="#").genres-link
          .genres__item.comedy
            .genres-icon
              img(src="./assets/imgs/genres-7.svg", alt="картинка").genres-img
            h3.genres-title Comedy
      .genres__column
        a(href="#").genres-link
          .genres__item.documentary
            .genres-icon
              img(src="./assets/imgs/genres-8.svg", alt="картинка").genres-img
            h3.genres-title Documentary





