section.genres
  .container
    .title__box
      h2.title__bg Trending TV Shows
    .genres__iner
      .genres__column
        a(href="#").genres-link
          .genres__item.romance
            img(src="./assets/imgs/genres-1.svg", alt="картинка").genres-img
            p.genres-title Romance
      .genres__column
        a(href="#").genres-link
          .genres__item.drama
            img(src="./assets/imgs/genres-2.svg", alt="картинка").genres-img
            p.genres-title Drama
      .genres__column
        a(href="#").genres-link
          .genres__item.historical
            img(src="./assets/imgs/genres-3.svg", alt="картинка").genres-img
            p.genres-title Historical
      .genres__column
        a(href="#").genres-link
          .genres__item.action
            img(src="./assets/imgs/genres-4.svg", alt="картинка").genres-img
            p.genres-title Action




