section.coming
  .container
    .coming__iner
      .coming__item
        img(src="./assets/imgs/coming-1.jpg", alt="картинка").coming-img
      .coming__item
        img(src="./assets/imgs/coming-2.jpg", alt="картинка").coming-img
