section.coming
  .container
    .coming__top
      .coming__item
        img(src="./assets/imgs/coming-1.jpg", alt="картинка").coming-img.left
      .coming__item
        img(src="./assets/imgs/coming-2.jpg", alt="картинка").coming-img
    .coming__bottom
      .bootom__item
        p.bootom__item-title Are You New Here ? #[br] Don’t  wait, Register Now.
        a.bootom__item-btn.btn__blue Register Now