extends laout/laout

block main
  main.main

    include ./components/sec__description

    include ./components/sec__shows

    include ./components/sec__genres

    //- include ./components/sec__























