@import "../main/vars";
/*  FOOTER ...................*/
.footer {
  background: #101012;
  padding: 70px 0px 50px 0px;
  .footer__iner {
    margin: 0 165px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer__logo {
    margin-right: 15px;
    cursor: pointer;
  }
  .footer__list{
    margin-right: 15px;
    margin-bottom: 20px;
    .footer-item {
      margin-bottom: 20px;
      &+& {
        margin-left: 20px;
      }
    }
    .footer-link {
      font-family: Mulish;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 20px;
      color: #C2C2C2;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }

    }

  }


}
