@import "../main/vars";
section.coming {
    .coming__iner {
        display: flex;
        align-items: center;
        height: 320px;
    }
    .coming__item {
        flex: 0 0 50%;
        height: 100%;

    }

    .coming-img {
        width: 100%;
        object-fit: cover;
    }
}
