@import "../main/vars.scss";
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');


body {
    font-family: $primery-font;
    font-size: 18px;
    font-weight: 400;
    color: $primerycolor-white;
    background-color: $primerycolor-black;
  }

  .container {
    width: 100%;
    max-width: 1441px;
    padding: 0px 15px;
    margin: 0 auto;
  }

  .btn__blue {
    display: inline-block;
    background: $gradient_bg;
    padding: 15px 18px;
    border-radius: 100px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: $primerycolor-white;
    cursor: pointer;
    transition: 0.2s ease  box-shadow ;
    &:hover {
      box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);


    }
  }