// // цвета основные
$primerycolor-white: #fff;
$primerycolor-black: #000;

// // /цвет фона футера
$primerycolor-footer_bg:#101012;
$gradient_bg: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
$zap_bg:rgba(42, 250, 250, 0.651);




// ...........................................
// основной шрифт
$primery-font:'Mulish', sans-serif;
//дполнительный шрифт
$secondary-font:'Marcellus', serif;

