// // цвета основные
$primerycolor-white: #fff;
$primerycolor-black: #000;

// // /цвет фона футера
$primerycolor-footer_bg:#101012;


// ...........................................
// основной шрифт
$primery-font:'Mulish', sans-serif;
//дполнительный шрифт
$secondary-font:'Marcellus', serif;

